<!-- footer共用 -->
<footer class="bg-neutral-100 py-64 py-md-32">
    <div class="container">
        <div class="mb-24 d-flex d-sm-block align-items-center justify-content-between">
            <a href="index.html" class="mb-sm-8">
                <img src="../assets/images/logo.svg" alt="logo">
            </a>
            <ul class="d-flex d-sm-block align-items-center  px-sm-12">
                <li class="me-40 me-sm-0 mb-sm-4"><a href="products.html" class="py-12 nava">商品列表</a></li>
                <li><a href="story.html" class="py-12 nava">品牌故事</a></li>
            </ul>
        </div>
    </div>

    <!-- copyright -->
    <div class="copyright">
        <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </div>

</footer>