  <!-- 促銷文字共用 -->
    <div class="bg-Primary-200 ptb-24 d-flex justify-content-cneter align-items-center">
        <p class="h4 h5-md mr-24">
            加入會員取得 9 折優惠
        </p>
        <button type="button" class="btn btn-dark">
            馬上註冊
        </button>
    </div>

    <!-- footer共用 -->
    <footer class="bg-neutral-100 ptb-64 ptb-md-32">
        <div class="container">
            <div class="mb-24 d-flex d-sm-block align-items-center justify-content-between">
                <a href="#" class="mb-sm-8">
                    <img src="../assets/images/logo.svg" alt="logo">
                </a>
                <ul class="d-flex d-sm-block align-items-center  plr-sm-12">
                    <li class="mr-40 mr-sm-0 mb-sm-4"><a href="products.html" class="ptb-12">商品列表</a></li>
                    <li><a href="story.html" class="ptb-12">品牌故事</a></li>
                </ul>
            </div>
        </div>

        <!-- copyright -->
        <div class="copyright">
            <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>

    </footer>