    <!-- 共用Nav -->
    <nav class="container ptb-16 ptb-md-12 d-flex align-items-center justify-content-between">
        <ul class="d-flex align-items-center">
            <li class="mr-48">
                <a href="#">
                    <img src="../assets/images/logo.svg" alt="logo">
                </a>
            </li>
            <li class="mr-40 d-sm-none"><a href="products.html">商品列表</a></li>
            <li class="d-sm-none"><a href="story.html">品牌故事</a></li>
        </ul>
        <a href="#" class="p-12"><img src="../assets/images/person.svg"></a>
    </nav>