.btn {
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 4px;
    /*二個值，【上下】採用同一值，【左右】採用同一值*/
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media (max-width:576px) {
    .btn {
        padding: 8px 16px;
    }
}

.btndisabled {
    cursor: not-allowed;
}

.btn-dark {
    background-color: $text-neutral-900;
    color: $text-neutral-white;
}

.btn-dark:hover {
    background-color: $text-neutral-700;
}

.btn-heart {
    border: 1px solid $text-neutral-900;
}

.btn-heart:hover {
    color: $text-Danger-300;
    border: 1px solid $text-Danger-300;
}



.btn-primary-300 {
    background-color: $bg-Primary-300
}

.btn-primary-300:hover {
    color: $bg-Primary-500
}