.mobilenav {
    display: none;
}

// 必須搭配nav來填整寬度
@media (max-Width:576px) {
    .mobilenav {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;

        li {
            width: 50%;
            padding-top: 12px;
            padding-bottom: 12px;

            a {
                font-weight: 500;
                // body有了不設定
                // font-family: 'Noto Sans TC', sans-serif;
                // color: $text-neutral-900;
                // font-size: 16px;
                // line-height: 1.5;
                // letter-spacing: 0.05em;
            }

            a:hover {
                color: $bg-Primary-500;
            }
        }
    }
}


.indexheader {
    background-image: url(../../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*四個值，個別指定 上右下左 */
    /*三個值，左右採用同一個值，上下則分開指定*/
    /*二個值，【上下】採用同一值，【左右】採用同一值*/
    /*一個值，【上下左右】都使用相同的值*/
    padding: 289px 0 288px 200px;
}

@media (max-Width:767px) {
    .indexheader {
        background-image: url(../../assets/images/banner-sm.png);
        padding: 155px 24px 235px 24px;
    }
}

.new-arrival-card {
    a {
        .title {
            color: $text-neutral-900;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.05em;
        }

        .content {
            color: $text-neutral-900;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.05em;
        }

        @media (max-Width:767px) {
            .title {
                font-size: 16px;
            }

        }
    }
}

.indexbanner {
    background-image: url(../../assets/images/banner-co-branded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*四個值，個別指定 上右下左 */
    /*三個值，左右採用同一個值，上下則分開指定*/
    /*二個值，【上下】採用同一值，【左右】採用同一值*/
    /*一個值，【上下左右】都使用相同的值*/
    padding-top: 100px;
    padding-bottom: 100px;

    position: relative;
    overflow: hidden;

    // 助教教學
    .star {
        position: absolute;
        width: 48px;
        top: 68px;
        left: calc(50% - 397px);
    }

    .sparkle {
        position: absolute;
        width: 76px;
        bottom: 132px;
        right: calc(50% - 357px)
    }
}


@media (max-Width:767px) {
    .indexbanner {
        background-image: url(../../assets/images/banner-co-branded-sm.png);
        padding-top: 64px;
        padding-bottom: 64px;

        overflow: hidden;

        .star {
            top: 32px;
            left: -20px;
        }

        .sparkle {
            bottom: 104px;
            right: -28px;
        }
    }
}

.no1 {
    // 上層必須.position-relative
    display: block;
    position: absolute;
    padding: 8px 12px;
    background-color: $bg-Primary-100;
    color: $bg-Primary-400;
    left: 0;
    top: 0;
}

.selecttype {
    a {
        position: relative;

        // 層級置中 https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            text-align: center;
            z-index: 2;

            @media (max-width:992px) {
                white-space: normal;
            }
        }

        // https://blog.csdn.net/weixin_46353366/article/details/107178651
        .mask {
            background-color: #000;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    a:hover {

        h3,
        h4 {
            color: $bg-Primary-300;
        }
    }
}