<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首頁</title>
</head>

<body>
  <%- include('./layout/nav'); -%>

    <!-- 主要內容 -->

    <!-- 隱藏的Nav -->
    <ul class="mobilenav">
      <li class="bg-Primary-200"><a href="products.html">商品列表</a></li>
      <li class="bg-Primary-100"><a href="story.html">品牌故事</a></li>
    </ul>

    <!-- Banner -->
    <header class="indexheader mb-64 mb-sm-40">
      <h1 class="display1 display1-sm mb-16  text-neutral-white">URBNSTEP</h1>
      <h2 class="h3 h5-md mb-48 text-neutral-white">Your Step, Your Statement</h2>
      <button class="btn btn-primary-300">立即選購</button>
    </header>

    <main>
      <!-- New Arrival -->
      <section>
        <div class="container py-64 py-sm-40">
          <h2 class="display2 display2-sm mb-12 mb-sm-8 text-center">New Arrival</h2>
          <h3 class="h2 h4-sm text-center mb-32 mb-sm-24">新品上市</h3>
          <!-- 圖片 + 產品 -->
          <div class="row">
            <!-- Card -->
            <div class="col-6 col-sm-2 mb-40 mb-24 new-arrival-card">
              <a href="productdetail.html">
                <img class="mb-12 mb-8" src="../assets/images/new-1.png" alt="Monoverse" />
                <div class="mb-4 title">Monoverse</div>
                <div class="content">NT$3600</div>
              </a>
            </div>
            <div class="col-6 col-sm-2 mb-40 mb-24 new-arrival-card">
              <a href="productdetail.html">
                <img class="mb-12 mb-8" src="../assets/images/new-2.png" alt="PALTFORM 404" />
                <div class="mb-4 title">PALTFORM 404</div>
                <div class="content">NT$2600</div>
              </a>
            </div>
            <div class="col-6 col-sm-2 mb-40 mb-24 new-arrival-card">
              <a href="productdetail.html">
                <img class="mb-12 mb-8" src="../assets/images/new-3.png" alt="URBM Force" />
                <div class="mb-4 title">PALTFORM 404</div>
                <div class="content">NT$3200</div>
              </a>
            </div>
            <div class="col-6 col-sm-2 mb-40 mb-24 new-arrival-card">
              <a href="productdetail.html">
                <img class="mb-12 mb-8" src="../assets/images/new-4.png" alt="Mode 90" />
                <div class="mb-4 title">PALTFORM 404</div>
                <div class="content">NT$4000</div>
              </a>
            </div>
          </div>

        </div>
      </section>

      <!-- 熱銷補貨 -->
      <section>
        <div class="container py-64 py-sm-40">

          <div class="px-12 px-md-12">
            <h2 class="h2 h4-sm mb-16">熱銷補貨</h2>
          </div>
          <div class="row flex-md-scrollx">
            <div class="col-3 col-md-4 flex-md-none">
              <a href="productdetail.html" class="position-relative">
                <img src="../assets/images/product-3.png" />
                <span class="no1">人氣 No.1</span>
              </a>
            </div>

            <div class="col-3 col-md-4 flex-md-none">
              <a href="productdetail.html" class="position-relative">
                <img src="../assets/images/product-10.png" />
                <span class="no1">人氣 No.1</span></a>
            </div>

            <div class="col-3 col-md-4 flex-md-none">
              <a href="productdetail.html" class="position-relative">
                <img src="../assets/images/product-6.png" />
                <span class="no1">人氣 No.1</span></a>
            </div>

            <div class="col-3 col-md-4 flex-md-none">
              <a href="productdetail.html" class="position-relative">
                <img src="../assets/images/product-4.png" />
                <span class="no1">人氣 No.1</span></a>
            </div>
          </div>
        </div>
      </section>

      <!-- 跨界聯名 Banner -->
      <section>
      </section>

      <!-- 依系列選購 -->
      <section>
        <div class="container py-64 py-sm-40">
          <div class="px-12 px-md-12">
            <h2 class="h2 h4-sm mb-16">依系列選購</h2>
          </div>
          <div class="row">
            <div class="col-3 col-md-2 mb-sm-12 selecttype">
              <a href="products.html">
                <img src="../assets/images/product-3.png" />
                <div>
                  <h3 class="h3 text-neutral-white">URBN RUNNER</h3>
                  <h4 class="h4 text-neutral-white">慢跑系列</h4>
                </div>
                <div class="mask"></div>
              </a>
            </div>
            <div class="col-3 col-md-2 mb-sm-12 selecttype">
              <a href="products.html">
                <img src="../assets/images/product-10.png" />
                <div>
                  <h3 class="h3 text-neutral-white">STREETMODE</h3>
                  <h4 class="h4 text-neutral-white">滑板系列</h4>
                </div>
                <div class="mask"></div>
              </a>
            </div>
            <div class="col-3 col-md-2 mb-sm-12 selecttype">
              <a href="products.html">
                <img src="../assets/images/product-6.png" />
                <div>
                  <h3 class="h3 text-neutral-white">CHUNK DISTRICT</h3>
                  <h4 class="h4 text-neutral-white">厚底系列</h4>
                </div>
                <div class="mask"></div>
              </a>
            </div>
            <div class="col-3 col-md-2 mb-sm-12 selecttype">
              <a href="products.html">
                <img src="../assets/images/product-4.png" />
                <div>
                  <h3 class="h3 text-neutral-white">COLLAB ZONE</h3>
                  <h4 class="h4 text-neutral-white">聯名企劃</h4>
                </div>
                <div class="mask"></div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- 穿搭靈感 -->
      <section>
      </section>

    </main>
    <!-- 主要內容 -->

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>